<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles/legendaries.css">
    <title>Pokedex</title>
</head>
<body>
    <header>
        <img src="assets/images/logo.svg" alt="logo" class="logo">

        <button type="button" class="hamburguer-menu">

            <img src="assets/images/hamburguer.svg" alt="Hamburguer Menu">
        </button>

        <nav class="navbar">

            <a href="#">Home</a>
            <a href="#">Pokédex</a>
            <a href="#">Legendaries</a>
            <a href="#">Documentation</a>
        </nav>
    </header>

    <main>
        <div class="title">
        <H1>Legendaries</H1>
        <img src="assets/images/Line 1.svg" alt="linha" class="linha">
    </div>
        <div class="pokemon-data">
        <img src="assets/images/pokemonImage.svg" alt="mewtwo" class="mewtwo">
            <div class="pokemon-description">
            <h2>MewTwo</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non voluptatum eius delectus reiciendis accusantium pariatur, itaque velit? Animi rerum expedita consequuntur facilis? Obcaecati, atque. Eaque dolores nam fugiat amet dolorum.</p>
                    <div class="status">
                        <div class="filho1">
                            <h4>Healthy Points</h4>
                            <p>1000,000</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <h4>Experience</h4>
                            <p>1000,000</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </div>

                        <div class="filho2">

                        <h4>Attack</h4>
                            <p>1000,000</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <h4>Defense</h4>
                            <p>1000,000</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>          
                    </div>  
                </div>
                </div>
                <div class="carousel">
                    <img src="assets/images/seta_esquerda.svg" alt="" class="setas">
                    <img src="assets/images/legendaryCard_mew.svg" alt="mewtwo" >
                    <img src="assets/images/legendaryCard_articuno.svg" alt="mewtwo" >
                    <img src="assets/images/legendaryCardMoltres.svg" alt="mewtwo">
                    <img src="assets/images/legendaryCard_zapdos.svg" alt="mewtwo">
                    <img src="assets/images/legendaryCard_xerneas.svg" alt="mewtwo">
                    <img src="assets/images/legendaryCard.svg" alt="mewtwo">
                   <img src="assets/images/seta_direita.svg" alt="" class="setas">
                </div>
                <div class="title">
                    <H1>Stronger</H1>
                    <img src="assets/images/Line 1.svg" alt="linha" class="linha">
                </div>
                    <div class="pokemon-data">
                    <img src="assets/images/Dragonair.svg" alt="mewtwo" class="mewtwo">
                        <div class="pokemon-description">
                        <h2>Dragonair</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non voluptatum eius delectus reiciendis accusantium pariatur, itaque velit? Animi rerum expedita consequuntur facilis? Obcaecati, atque. Eaque dolores nam fugiat amet dolorum.</p>
                                <div class="status">
                                    <div class="filho1">
                                        <h4>Healthy Points</h4>
                                        <p>1000,000</p>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
            
                                    <h4>Experience</h4>
                                        <p>1000,000</p>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    </div>
            
                                    <div class="filho2">
            
                                    <h4>Attack</h4>
                                        <p>1000,000</p>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
            
                                    <h4>Defense</h4>
                                        <p>1000,000</p>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>          
                                </div>  
                            </div>
                            </div>
                            <div class="carousel">
                                <img src="assets/images/seta_esquerda.svg" alt="" class="setas">
                                <img src="assets/images/legendaryCard_mew.svg" alt="mewtwo" >
                                <img src="assets/images/legendaryCard_articuno.svg" alt="mewtwo" >
                                <img src="assets/images/legendaryCardMoltres.svg" alt="mewtwo">
                                <img src="assets/images/legendaryCard_zapdos.svg" alt="mewtwo">
                                <img src="assets/images/legendaryCard_xerneas.svg" alt="mewtwo">
                                <img src="assets/images/legendaryCard.svg" alt="mewtwo">
                               <img src="assets/images/seta_direita.svg" alt="" class="setas">
                            </div>
                            <div class="title">
                                <H1>Weaker</H1>
                                <img src="assets/images/Line 1.svg" alt="linha" class="linha">
                            </div>
                                <div class="pokemon-data">
                                <img src="assets/images/Flareon.svg" alt="mewtwo" class="mewtwo">
                                    <div class="pokemon-description">
                                    <h2>Flareon</h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non voluptatum eius delectus reiciendis accusantium pariatur, itaque velit? Animi rerum expedita consequuntur facilis? Obcaecati, atque. Eaque dolores nam fugiat amet dolorum.</p>
                                            <div class="status">
                                                <div class="filho1">
                                                    <h4>Healthy Points</h4>
                                                    <p>1000,000</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                        
                                                <h4>Experience</h4>
                                                    <p>1000,000</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                </div>
                        
                                                <div class="filho2">
                        
                                                <h4>Attack</h4>
                                                    <p>1000,000</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                        
                                                <h4>Defense</h4>
                                                    <p>1000,000</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>          
                                            </div>  
                                        </div>
                                        </div>
                                        <div class="carousel">
                                            <img src="assets/images/seta_esquerda.svg" alt="" class="setas">
                                            <img src="assets/images/legendaryCard_mew.svg" alt="mewtwo" >
                                            <img src="assets/images/legendaryCard_articuno.svg" alt="mewtwo" >
                                            <img src="assets/images/legendaryCardMoltres.svg" alt="mewtwo">
                                            <img src="assets/images/legendaryCard_zapdos.svg" alt="mewtwo">
                                            <img src="assets/images/legendaryCard_xerneas.svg" alt="mewtwo">
                                            <img src="assets/images/legendaryCard.svg" alt="mewtwo">
                                           <img src="assets/images/seta_direita.svg" alt="" class="setas">
                                        </div>
                
    </main>

</body>
</html>